@using la_mia_pizzeria_static.Models.Utility;
@model IEnumerable<la_mia_pizzeria_static.Models.Utility.DeveloperCommandsGroup>

@{
    ViewData["Title"] = "Developer Console";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    @foreach (DeveloperCommandsGroup group in Model)
    {
        <br />
        <h3>
            @group.Name
        </h3>
        <table class="table">

            <thead>
                <tr>
                    <th>Command</th>
                    <th>Response</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                @foreach (DeveloperCommandModel command in group.Commands)
                {
                    <tr>

                        <!-- Command name -->
                        <td class="align-middle">@command.Name</td>

                        <!-- Command status (switch idle/success/fail) -->
                        <td class="align-middle">
                            @if (command.Status == null)
                            {
                                <span>--</span>
                            }
                            else if ((bool)command.Status)
                            {
                                <i class="fa-solid fa-check" style="color: #198754;"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-xmark" style="color: #dc3545;"></i>
                            }
                        </td>

                        <!-- Command actions -->
                        <td>
                            <form asp-controller="Developer" asp-action="Execute" method="POST">
                                @Html.AntiForgeryToken()
                                <button name="guid" class="btn btn-outline-warning" type="submit" value="@command.DeveloperCommandModelGuid">Run</button>
                            </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }

</div>