@{
    ViewData["Title"] = "Details";
}

@model Pizza

<div class="text-center">

    <header>
        <h1 class="display-4">Static Pizzeria</h1>
        <p>By Francesco Limpias</p>
    </header>

    <main>
        <div class="px-3">

            <!-- Pizza title -->
            <h2>Pizza @Model.Name</h2>
            <br />

            <!-- Pizza image -->
            @if (Model.ImagePath != null)
            {
                <img src="@Model.ImagePath" class="w-50" />
            }
            else
            {
                <span>
                    Nessuna foto disponibile
                </span>
            }
            <br />

            <!-- Pizza details -->
            <p>
                <br />

                @Model.Description

                <br />

                Categoria: <b>@Model?.Category?.Name</b>

                <br />

                Prezzo: <b>@Model.Price€</b>
            </p>

            <!-- Go back -->
            <a class="btn btn-primary mb-3" href="@Url.Action("Index", "Pizza")">Indietro</a>

        </div>
    </main>

</div>


